@media (min-width: 905px) {
  .navbar i {
    display: none;
  }

  header {
    height: 70px;
    padding: 0px 100px;
  }

  header .logo {
    height: 15px;
    cursor: pointer;
    transition: all 0.3s;
  }

  header .logo:hover {
    height: 16px;
    cursor: pointer;
  }

  .navbar-list {
    background: transparent;
    display: flex;
    gap: 25px;
    flex-direction: row;
    position: relative;
    top: 0;
  }

  .navbar-list a {
    transition: all 0.3s;
  }
  .navbar-list a:hover {
    text-decoration: underline;
  }

  .btn {
    padding: 5px 15px;
    transition: all 0.3s;
  }

  .btn:hover {
    text-decoration: underline 1px;
  }

  #hero {
    max-width: 1200px;
  }

  .hero-info h1 {
    font-size: 80px;
  }

  #about {
    padding: 70px 0px;
    gap: 50px;
  }

  .about-info {
    align-items: baseline;
    text-align: left;
    max-width: max(35%, 400px);
    gap: 30px;
  }

  #about h2 {
    font-size: 52px;
  }

  #about img {
    display: flex;
    height: 400px;
    border-radius: 10px;
  }

  #courses {
    padding: 70px 0px;
    max-width: 1200px;
    gap: 150px;
  }

  .courses-title {
    align-items: baseline;
    width: max(50%, 500px);
    gap: 30px;
    text-align: left;
  }

  .courses-title h2 {
    font-size: 52px;
  }

  .cards-container {
    width: min(900px, 90%);
    gap: 90px;
  }

  .card-courses {
    width: 300px;
  }

  .card-courses i {
    font-size: 100px;
  }

  #contact {
    width: 100%;
    max-width: 1200px;
  }

  #contact img {
    display: flex;
    width: 40%;
  }

  .contact-info {
    align-items: baseline;
    text-align: left;
    gap: 40px;
    width: 40%;
  }

  .contact-info h2 {
    font-size: 52px;
  }

  .contact-info h3 {
    font-size: 24px;
  }

  .contact-info p {
    font-size: 18px;
  }

  .media-links a {
    font-size: 70px;
    transition: all 0.3s;
  }

  .media-links a:hover {
    color: var(--blue);
    font-size: 73px;
  }

  footer img {
    cursor: pointer;
    transition: all 0.3s;
  }
  footer img:hover {
    height: 12.5px;
    cursor: pointer;
  }

  footer p {
    font-size: 14px;
  }
}
